In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('F:\\Data Science & Machine Learning\\weight-height.csv')

In [3]:
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
8550  Female  60.483946  110.565497
8551  Female  63.423372  129.921671
8552  Female  65.584057  155.942671
8553  Female  67.429971  151.678405
8554  Female  60.921791  131.253738

[8555 rows x 3 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8555 entries, 0 to 8554
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  8555 non-null   object
 1   Height  8555 non-null   float64
 2   Weight  8555 non-null   float64
dtypes: float64(2), object(1)
memory usage: 200.6+ KB

In [5]:
df.nunique()

Gender       2
Height    8555
Weight    8555
dtype: int64

In [6]:
df_encode=df.copy()

# Encoding

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le=LabelEncoder()
df_encode['Gender']=le.fit_transform(df_encode['Gender'])

In [9]:
df_encode.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

# Data Seperation for Training & Testing

In [10]:
x=df_encode.drop('Weight',axis=1)

In [11]:
y=df_encode[['Weight']]

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=0.7,random_state=1)

In [16]:
ytest

          Weight
7154  160.800726
3258  184.516688
2188  184.262796
5609  166.844114
3186  200.466282
...          ...
8004  110.815421
7644  148.605255
8521  153.436481
957   170.310122
233   195.392618

[2567 rows x 1 columns]

# Linear Regression

In [17]:
from sklearn.linear_model import LinearRegression

In [20]:
reg=LinearRegression()

In [21]:
reg.fit(xtrain,ytrain)

LinearRegression()

In [22]:
pred_y=reg.predict(xtest)

In [23]:
pred_y

array([[143.83013436],
       [197.53417989],
       [184.63515112],
       ...,
       [160.7078525 ],
       [186.82852694],
       [201.4226542 ]])

In [25]:
reg.score(ytest,pred_y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Weight
Feature names seen at fit time, yet now missing:
- Gender
- Height

  warnings.warn(message, FutureWarning)

ValueError: X has 1 features, but LinearRegression is expecting 2 features as input.